/*
  Most styles are now handled by Tailwind CSS utility classes in the HTML.
  This file is for base styles and any custom components that fall outside of the utility-first workflow.
*/

/* Base Body Styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F2F2F2; /* --color-eggshell */
    color: #403F3E; /* --color-charcoal */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Headings Font */
h1, h2, h3, h4, h5, h6, .font-lora {
    font-family: 'Lora', serif;
}

/*
  The design system relies heavily on utility classes for spacing, colors, etc.
  Therefore, very few custom classes are needed here. The component-like structures
  are built directly in the HTML using Tailwind's classes.
*/